<div class="container">
    <mat-card>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <mat-form-field appearance="standard">
                    <mat-label>ค้นหา</mat-label>
                    <input matInput placeholder="กรุณากรอกข้อมูลที่ต้องการค้นหา" #input>
                </mat-form-field>
            </div>
        </div>
    </mat-card>

    <mat-card class="mt-2">
        <div class="row">
            <div class="col">
                <table mat-table [dataSource]="userList" matSort style="width: 100%">

                    <ng-container matColumnDef="username">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อบัญชี </th>
                        <td mat-cell *matCellDef="let row">{{ row.username }}</td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อ-นามสกุล </th>
                        <td mat-cell *matCellDef="let row">{{ row.name }}</td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef><button mat-raised-button color="primary" (click)="openManageUser()">เพิ่มบัญชี</button></th>
                        <td mat-cell *matCellDef="let row">
                            <button style="color: rgb(255, 187, 0);" (click)="openManageUser(row)" mat-icon-button>
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button style="color: red;" (click)="onDelete(row)" mat-icon-button>
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching.</td>
                    </tr>
                </table>

                <mat-paginator [pageSizeOptions]="[50, 100, 200, 500, 1000]" aria-label="Select page of users">
                </mat-paginator>

            </div>
        </div>
    </mat-card>
</div>