<!-- <div echarts [options]="options" class="demo-chart" (chartinit)="onChartEvent($event, 'chartInit')" (chartclick)="onChartEvent($event, 'chartClick')" (chartdblclick)="onChartEvent($event, 'chartDblClick')" (chartmousedown)="onChartEvent($event, 'chartMouseDown')" (chartmouseup)="onChartEvent($event, 'chartMouseUp')" (chartmouseover)="onChartEvent($event, 'chartMouseOver')" (chartmouseout)="onChartEvent($event, 'chartMouseOut')" (chartglobalout)="onChartEvent($event, 'chartGlobalOut')" (chartcontextmenu)="onChartEvent($event, 'chartContextMenu')" (chartdatazoom)="onChartEvent($event, 'chartDataZoom')">
</div> -->

<mat-tab-group>
    <mat-tab label="รายปี">
        <div class="container">
            <div class="row">
                <div class="col">
                    <ngx-charts-line-chart [legend]="true" [legendTitle]="'สถานะ'" [showXAxisLabel]="true"
                        [showYAxisLabel]="false" [xAxis]="true" [yAxis]="true" [xAxisLabel]="'รายงานประจำปี ' + filter.year"
                        [timeline]="true" [results]="dataYear">
                    </ngx-charts-line-chart>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="รายเดือน">
        <div class="container">
            <div class="row">
                <div class="col">
                    <ngx-charts-line-chart [legend]="true" [legendTitle]="'สถานะ'" [showXAxisLabel]="true"
                        [showYAxisLabel]="false" [xAxis]="true" [yAxis]="true" [xAxisLabel]="'รายงานประจำเดือน ' + monthName"
                        [timeline]="true" [results]="dataMonth">
                    </ngx-charts-line-chart>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="รายสัปดาห์">
        <div class="container">
            <div class="row">
                <div class="col">
                    <ngx-charts-line-chart [legend]="true" [legendTitle]="'สถานะ'" [showXAxisLabel]="true"
                        [showYAxisLabel]="false" [xAxis]="true" [yAxis]="true" [xAxisLabel]="'รายงานประจำสัปดาห์'"
                        [timeline]="true" [results]="dataWeek">
                    </ngx-charts-line-chart>
                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>

<mat-tab-group>
    <mat-tab label="รายปี">
        <div class="container">
            <div class="row">
                <div class="col">
                    <ngx-charts-line-chart [legend]="true" [legendTitle]="'สถานะ'" [showXAxisLabel]="true"
                    [showYAxisLabel]="false" [xAxis]="true" [yAxis]="true" [xAxisLabel]="'รายงานประจำปี ' + filter.year"
                    [timeline]="true" [results]="summaryYear">
                </ngx-charts-line-chart>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="รายเดือน">
        <div class="container">
            <div class="row">
                <div class="col">
                    <ngx-charts-line-chart [legend]="true" [legendTitle]="'สถานะ'" [showXAxisLabel]="true"
                        [showYAxisLabel]="false" [xAxis]="true" [yAxis]="true" [xAxisLabel]="'รายงานประจำเดือน ' + monthName + ' ปี ' + filter.year"
                        [timeline]="true"  [results]="summaryMonth">
                </ngx-charts-line-chart>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="รายสัปดาห์">
        <div class="container">
            <div class="row">
                <div class="col">
                    <ngx-charts-line-chart [legend]="true" [legendTitle]="'สถานะ'" [showXAxisLabel]="true"
                    [showYAxisLabel]="false" [xAxis]="true" [yAxis]="true" [xAxisLabel]="'รายงานประจำสัปดาห์'"
                    [timeline]="true" [results]="summaryWeek">
                </ngx-charts-line-chart>
                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>



