<mat-card>
    <div class="row" *ngFor="let type of typeList">
        <div class="col-6">{{ type.name }}</div>
        <div class="col-6">
            <mat-form-field appearance="legacy">
                <mat-label>ค่า %</mat-label>
                <input [(ngModel)]="type.value" type="number" matInput (change)="onSave(type)">
            </mat-form-field>
        </div>
    </div>
</mat-card>