<div class="container">
    <mat-card>
        <div class="row">
            <div class="col-12 mt-2">
                <mat-form-field appearance="legacy">
                    <mat-label>ชื่อ - นามสกุล</mat-label>
                    <input [(ngModel)]="syUser.name" type="text" matInput placeholder="ชื่อ - นามสกุล">
                </mat-form-field>
            </div>
            <div class="col-12 mt-2">
                <mat-form-field appearance="legacy">
                    <mat-label>รหัสผ่าน</mat-label>
                    <input [(ngModel)]="syUser.password" type="text" matInput placeholder="รหัสผ่าน">
                </mat-form-field>
            </div>
            <div class="col-12 mt-2">
                <mat-form-field appearance="legacy">
                    <mat-label>ยืนยันรหัสผ่าน</mat-label>
                    <input [(ngModel)]="syUser.rePassword" type="text" matInput placeholder="ยืนยันรหัสผ่าน">
                </mat-form-field>
            </div>
        
            <div class="col-12 text-end">
                <p style="color: red;">อัพเดทล่าสุด : {{ syUser.updateDate | date: 'dd/MM/yyyy' }}</p>
                <button mat-raised-button color="primary" (click)="onSubmit()" cdkFocusInitial>บันทึก</button>
            </div>
        </div>
    </mat-card>
</div>