<mat-tab-group>
    <ng-container *ngIf="modalData.status === 'FREEZE'">
        <mat-tab label="สถานที่ทำงาน">
            <app-modal-workplace *ngIf="data" [idcard]="data?.idcard"></app-modal-workplace>
            <div *ngIf="!data" class="text-center mt-2">กรุณาเลือกบุคคล</div>
        </mat-tab>
        <mat-tab label="ข้อมูลบังคับคดี">
            <mat-dialog-content class="mat-typography">
                <app-lawsuit-information [data]="data"></app-lawsuit-information>
            </mat-dialog-content>
        </mat-tab>
        <mat-tab label="ข้อมูลการชำระ">
            <mat-dialog-content class="mat-typography">
                <app-payment-information [data]="data"></app-payment-information>
            </mat-dialog-content>
        </mat-tab>
    </ng-container>

    <ng-container *ngIf="modalData.status === 'SEQUESTER'">
        <mat-tab label="ข้อมูลทรัพย์สิน">
            <mat-dialog-content class="mat-typography">
                <app-property-information [data]="data"></app-property-information>
            </mat-dialog-content>
        </mat-tab>
    </ng-container>
</mat-tab-group>