<mat-card>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <mat-form-field appearance="standard">
                <mat-label>ค้นหา</mat-label>
                <input matInput (keyup)="applyFilter($event)"
                    placeholder="กรุณากรอกข้อมูลที่ต้องการค้นหา" #input>
            </mat-form-field>
        </div>
        <div class="col-md-6 col-sm-12">
            <mat-form-field appearance="standard">
                <mat-label>พนักงาน</mat-label>
                <mat-select (valueChange)="getDebtByStatus($event)">
                    <mat-option>ทั้งหมด</mat-option>
                    <mat-option *ngFor="let obj of userList" [value]="obj.username">
                        {{obj.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</mat-card>
<div class="row">
    <div class="col-12" *ngIf="device !== 'mobile'">
        <mat-tab-group>
            <mat-tab label="รายการสัญญา" *ngIf="userRole.includes('1')">
                <table mat-table [dataSource]="debtList" matSort style="width: 100%">
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox color="primary" (change)="$event ? toggleAllRows() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()">
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)">
                            </mat-checkbox>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="companyContractNumber">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> เลขสัญญาบริษัท </th>
                        <td mat-cell *matCellDef="let row">{{ row.companyContractNumber }}</td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อผู้กู้ </th>
                        <td mat-cell *matCellDef="let row">{{ row.fname }} {{ row.lname }}</td>
                    </ng-container>

                    <ng-container matColumnDef="total">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ยอดรวมทั้งสิ้น</th>
                        <td mat-cell *matCellDef="let row">{{ row.totalAmount | number : '1.2-2' }}</td>
                    </ng-container>

                    <ng-container matColumnDef="minimumPayment">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ยอดชำระขั้นต่ำ </th>
                        <td mat-cell *matCellDef="let row">{{ row.minimumPayment | number : '1.2-2' }}</td>
                    </ng-container>

                    <ng-container matColumnDef="discountRate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> อัตราส่วนลด </th>
                        <td mat-cell *matCellDef="let row">{{ row.discountRate | percent : '1.2-2' }}</td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> สถานะการติดตาม
                        <th>
                        <td mat-cell *matCellDef="let row">{{ row?.msdebtstatus?.statusName }}</td>
                    </ng-container>

                    <ng-container matColumnDef="traceBy">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ผู้ติดตาม
                        <th>
                        <td mat-cell *matCellDef="let row">{{ row?.syuser?.name }}</td>
                    </ng-container>

                    <ng-container matColumnDef="phoneList">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> เบอร์โทรศัพท์
                        <th>
                        <td mat-cell *matCellDef="let row">
                            <ng-container *ngIf="row?.mscustomercontacts?.length">
                                <button mat-button [matMenuTriggerFor]="menuPhone">{{
                                    row?.mscustomercontacts[0]?.phoneNumber
                                    }}</button>
                                <mat-menu #menuPhone="matMenu" *ngIf="row?.mscustomercontacts?.length > 1">
                                    <button mat-menu-item *ngFor="let phone of row?.mscustomercontacts">{{
                                        phone.phoneNumber
                                        }}</button>
                                </mat-menu>
                            </ng-container>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef>
                            <button mat-icon-button *ngIf="this.selection?.selected?.length > 0" color="primary"
                                (click)="openManageTraceModal(this.selection?.selected, 'assign')">
                                <mat-icon>drive_file_move</mat-icon>
                            </button>
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-icon-button color="accent" *ngIf="row?.documentStatus === 'Y'"
                                (click)="openManageDocument(row)">
                                <mat-icon>article</mat-icon>
                            </button>
                            <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>list</mat-icon></button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item *ngIf="statusCode === 'FREEZE'" (click)="openTraceWorkStatus(row, 'FREEZE')"><mat-icon>support_agent</mat-icon> ติดตามงาน</button>
                                <button mat-menu-item *ngIf="statusCode === 'SEQUESTER'" (click)="openTraceWorkStatus(row, 'SEQUESTER')"><mat-icon>support_agent</mat-icon> ติดตามงาน</button>
                                <button mat-menu-item *ngIf="statusCode === 'D2U'" (click)="openPaymentModal(row)"><mat-icon>payments</mat-icon> ชำระเงิน</button>
                                <button mat-menu-item *ngIf="statusCode === 'D2U'" (click)="openTelephoneList(row)"><mat-icon>call</mat-icon> เบอร์โทรศัพท์</button>
                                <!-- <button mat-menu-item *ngIf="row?.documentStatus === 'Y'" (click)="openManageDocument(row)"><mat-icon>article</mat-icon> เอกสาร</button> -->
                                <button mat-menu-item *ngIf="statusCode === 'D2U'" (click)="openManageModal(row)"><mat-icon>support_agent</mat-icon> การติดตาม</button>
                                <button mat-menu-item *ngIf="statusCode === 'D2U'"><mat-icon>download</mat-icon> ดาวโหลดเอกสาร</button>
                                <button mat-menu-item (click)="onReturn(row)"><mat-icon>keyboard_return</mat-icon> ยกเลิกการติดตาม</button>
                            </mat-menu>
                            <!-- <button *ngIf="statusCode === 'FREEZE'" mat-flat-button color="primary"
                                (click)="openTraceWorkStatus(row, 'FREEZE')">ติดตามงาน</button>
                            <button *ngIf="statusCode === 'SEQUESTER'" mat-flat-button color="primary"
                                (click)="openTraceWorkStatus(row, 'SEQUESTER')">ติดตามงาน</button>
                            <button *ngIf="statusCode === 'D2U'" mat-icon-button style="color: green;"
                                (click)="openTelephoneList(row)">
                                <mat-icon>call</mat-icon>
                            </button>
                            <button mat-icon-button color="accent" *ngIf="row?.documentStatus === 'Y'"
                                (click)="openManageDocument(row)">
                                <mat-icon>article</mat-icon>
                            </button>
                            <button *ngIf="statusCode === 'D2U'" (click)="openManageModal(row)" mat-icon-button
                                color="primary">
                                <mat-icon>support_agent</mat-icon>
                            </button>
                            <button *ngIf="statusCode === 'D2U'" mat-icon-button style="color: blue;">
                                <mat-icon>download</mat-icon>
                            </button>
                            <button mat-icon-button color="warn" (click)="onReturn(row)">
                                <mat-icon>keyboard_return</mat-icon>
                            </button> -->
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching.</td>
                    </tr>
                </table>
                <mat-paginator [pageSizeOptions]="[100, 200, 500, 1000]" aria-label="Select page of users">
                </mat-paginator>
                <!-- <table class="mat-table mat-elevation-z8 width-full" id="debtTrace1">
                    <tr class="mat-header-row">
                        <th class="mat-header-cell">
                            <mat-checkbox [(ngModel)]="checked" (click)="checkAll()" color="primary"></mat-checkbox>
                        </th>
                        <th class="mat-header-cell" (click)="sortTable(1, 'debtTrace1')">เลขสัญญาบริษัท</th>
                        <th class="mat-header-cell" (click)="sortTable(2, 'debtTrace1')">ชื่อผู้กู้</th>
                        <th class="mat-header-cell" (click)="sortTable(3, 'debtTrace1')">ยอดรวมทั้งสิ้น</th>
                        <th class="mat-header-cell" (click)="sortTable(4, 'debtTrace1')">ยอดชำระขั้นต่ำ</th>
                        <th class="mat-header-cell" (click)="sortTable(5, 'debtTrace1')">อัตราส่วนลด</th>
                        <th class="mat-header-cell" (click)="sortTable(6, 'debtTrace1')">ติดตามครั้งต่อไป</th>
                        <th class="mat-header-cell" (click)="sortTable(7, 'debtTrace1')">ผู้ติดตาม</th>
                        <th class="mat-header-cell" (click)="sortTable(8, 'debtTrace1')">รูปแบบการชำระ</th>
                        <th class="mat-header-cell">
                            <button *ngIf="btnTrace" (click)="openManageTraceModal(debtList, 'assign')"
                                mat-icon-button color="primary">
                                <mat-icon>switch_account</mat-icon>
                            </button>
                        </th>
                    </tr>
                    <tr class="mat-row" *ngFor="let debt of debtList; index as number">
                        <th class="mat-header-cell">
                            <mat-checkbox [checked]="debt.checked"
                                (change)="debt.checked = (debt.checked) ? false : true; checkProcess();" color="primary">
                            </mat-checkbox>
                        </th>
                        <td class="mat-cell">{{ debt.companyContractNumber }}</td>
                        <td class="mat-cell" *ngIf="debt.relationship?.length > 0">
                            <ng-container *ngFor="let customer of debt.relationship">
                                <span *ngIf="customer.isMain === 'Y'">{{ (customer.title) ? customer.title : '' + customer.fname }} {{
                                    customer.lname }}<br></span>
                                <span *ngIf="customer.isMain !== 'Y'" style="font-size: smaller;">{{ (customer.title) && customer.title
                                    + customer.fname }} {{ customer.lname }}</span>
                            </ng-container>
                        </td>
                        <td class="mat-cell" *ngIf="debt.relationship?.length === 0">-</td>
                        <td class="mat-cell">{{ debt?.paymentAll | number : '1.2-2' }}</td>
                        <td class="mat-cell">{{ debt?.minimumPayment | number : '1.2-2' }}</td>
                        <td class="mat-cell">{{ debt?.discountRate | percent : '1.2-2' }}</td>
                        <td class="mat-cell" style="color: red;" *ngIf="debt?.followDate">{{ debt?.followDate }}
                        </td>
                        <td class="mat-cell" style="color: red;" *ngIf="!debt?.followDate">-</td>
                        <td class="mat-cell">{{ debt?.traceName }}</td>
                        <td class="mat-cell">
                            <div>{{ debt.paymentType }}</div>
                            <div style="font-size: smaller;" *ngIf="debt.paymentType === 'ขอผ่อนจ่าย'">
                                {{ debt.payPerMonth | number: '1.2-2' }}/{{ debt.numberOfMonth }}
                            </div>
                            <div style="font-size: smaller;" *ngIf="debt.paymentType === 'ปิดเต็ม'">
                                {{ debt.totalPayAmount | number: '1.2-2' }}
                            </div>
                        </td>
                        <td class="mat-cell">
                            <button *ngIf="statusCode === 'FREEZE'" mat-flat-button color="primary" (click)="openTraceWorkStatus(debt, 'FREEZE')">ติดตามงาน</button>
                            <button *ngIf="statusCode === 'SEQUESTER'" mat-flat-button color="primary" (click)="openTraceWorkStatus(debt, 'SEQUESTER')">ติดตามงาน</button>
                            <button *ngIf="statusCode === 'D2U'" mat-icon-button style="color: green;" (click)="openTelephoneList(debt)">
                                <mat-icon>call</mat-icon>
                            </button>
                            <button mat-icon-button color="accent" *ngIf="debt?.documentStatus === 'Y'" (click)="openManageDocument(debt)">
                                <mat-icon>article</mat-icon>
                            </button>
                            <button *ngIf="statusCode === 'D2U'" (click)="openManageModal(debt)" mat-icon-button color="primary">
                                <mat-icon>support_agent</mat-icon>
                            </button>
                            <button *ngIf="statusCode === 'D2U'" mat-icon-button style="color: blue;">
                                <mat-icon>download</mat-icon>
                            </button>
                            <button mat-icon-button color="warn" (click)="onReturn(debt)">
                                <mat-icon>keyboard_return</mat-icon>
                            </button>
                        </td>
                    </tr>
                </table> -->
            </mat-tab>
            <mat-tab label="สัญญาที่ฉันติดตาม">
                <table mat-table [dataSource]="myDebtList" matSort style="width: 100%">

                    <ng-container matColumnDef="companyContractNumber">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> เลขสัญญาบริษัท </th>
                        <td mat-cell *matCellDef="let row">{{ row.companyContractNumber }}</td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อผู้กู้ </th>
                        <td mat-cell *matCellDef="let row">{{ row.fname }} {{ row.lname }}</td>
                    </ng-container>

                    <ng-container matColumnDef="total">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ยอดรวมทั้งสิ้น</th>
                        <td mat-cell *matCellDef="let row">{{ row.totalAmount | number : '1.2-2' }}</td>
                    </ng-container>

                    <ng-container matColumnDef="minimumPayment">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ยอดชำระขั้นต่ำ </th>
                        <td mat-cell *matCellDef="let row">{{ row.minimumPayment | number : '1.2-2' }}</td>
                    </ng-container>

                    <ng-container matColumnDef="discountRate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> อัตราส่วนลด </th>
                        <td mat-cell *matCellDef="let row">{{ row.discountRate | percent : '1.2-2' }}</td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> สถานะการติดตาม
                        <th>
                        <td mat-cell *matCellDef="let row">{{ row?.msdebtstatus?.statusName }}</td>
                    </ng-container>

                    <ng-container matColumnDef="traceBy">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ผู้ติดตาม
                        <th>
                        <td mat-cell *matCellDef="let row">{{ row?.syuser?.name }}</td>
                    </ng-container>

                    <ng-container matColumnDef="phoneList">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> เบอร์โทรศัพท์
                        <th>
                        <td mat-cell *matCellDef="let row">
                            <ng-container *ngIf="row?.mscustomercontacts?.length">
                                <button mat-button [matMenuTriggerFor]="menuPhone">{{
                                    row?.mscustomercontacts[0]?.phoneNumber
                                    }}</button>
                                <mat-menu #menuPhone="matMenu" *ngIf="row?.mscustomercontacts?.length > 1">
                                    <button mat-menu-item *ngFor="let phone of row?.mscustomercontacts">{{
                                        phone.phoneNumber
                                        }}</button>
                                </mat-menu>
                            </ng-container>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef>
                            <button mat-icon-button *ngIf="this.selection?.selected?.length > 0" color="primary"
                                (click)="openManageTraceModal(this.selection?.selected, 'assign')">
                                <mat-icon>drive_file_move</mat-icon>
                            </button>
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-icon-button color="accent" *ngIf="row?.documentStatus === 'Y'"
                                (click)="openManageDocument(row)">
                                <mat-icon>article</mat-icon>
                            </button>
                            <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>list</mat-icon></button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item *ngIf="statusCode === 'FREEZE'" (click)="openTraceWorkStatus(row, 'FREEZE')"><mat-icon>support_agent</mat-icon> ติดตามงาน</button>
                                <button mat-menu-item *ngIf="statusCode === 'SEQUESTER'" (click)="openTraceWorkStatus(row, 'SEQUESTER')"><mat-icon>support_agent</mat-icon> ติดตามงาน</button>
                                <button mat-menu-item *ngIf="statusCode === 'D2U'" (click)="openTelephoneList(row)"><mat-icon>call</mat-icon> เบอร์โทรศัพท์</button>
                                <!-- <button mat-menu-item *ngIf="row?.documentStatus === 'Y'" (click)="openManageDocument(row)"><mat-icon>article</mat-icon> เอกสาร</button> -->
                                <button mat-menu-item *ngIf="statusCode === 'D2U'" (click)="openManageModal(row)"><mat-icon>support_agent</mat-icon> การติดตาม</button>
                                <button mat-menu-item *ngIf="statusCode === 'D2U'"><mat-icon>download</mat-icon> ดาวโหลดเอกสาร</button>
                                <button mat-menu-item (click)="onReturn(row)"><mat-icon>keyboard_return</mat-icon> ยกเลิกการติดตาม</button>
                            </mat-menu>
                            <!-- <button *ngIf="statusCode === 'FREEZE'" mat-flat-button color="primary"
                                (click)="openTraceWorkStatus(row, 'FREEZE')">ติดตามงาน</button>
                            <button *ngIf="statusCode === 'SEQUESTER'" mat-flat-button color="primary"
                                (click)="openTraceWorkStatus(row, 'SEQUESTER')">ติดตามงาน</button>
                            <button *ngIf="statusCode === 'D2U'" mat-icon-button style="color: green;"
                                (click)="openTelephoneList(row)">
                                <mat-icon>call</mat-icon>
                            </button>
                            <button mat-icon-button color="accent" *ngIf="row?.documentStatus === 'Y'"
                                (click)="openManageDocument(row)">
                                <mat-icon>article</mat-icon>
                            </button>
                            <button *ngIf="statusCode === 'D2U'" (click)="openManageModal(row)" mat-icon-button
                                color="primary">
                                <mat-icon>support_agent</mat-icon>
                            </button>
                            <button *ngIf="statusCode === 'D2U'" mat-icon-button style="color: blue;">
                                <mat-icon>download</mat-icon>
                            </button>
                            <button mat-icon-button color="warn" (click)="onReturn(row)">
                                <mat-icon>keyboard_return</mat-icon>
                            </button> -->
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="myDisplayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: myDisplayedColumns;"></tr>
                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching.</td>
                    </tr>
                </table>
                <mat-paginator [pageSizeOptions]="[100, 200, 500, 1000]" aria-label="Select page of users">
                </mat-paginator>
                <!-- <table class="mat-table mat-elevation-z8 width-full" id="debtTrace2">
                    <tr class="mat-header-row">
                        <th class="mat-header-cell" (click)="sortTable(0, 'debtTrace2')">เลขสัญญาบริษัท</th>
                        <th class="mat-header-cell" (click)="sortTable(1, 'debtTrace2')">ชื่อผู้กู้</th>
                        <th class="mat-header-cell" (click)="sortTable(2, 'debtTrace2')">ยอดรวมทั้งสิ้น</th>
                        <th class="mat-header-cell" (click)="sortTable(3, 'debtTrace2')">ยอดชำระขั้นต่ำ</th>
                        <th class="mat-header-cell" (click)="sortTable(4, 'debtTrace2')">อัตราส่วนลด</th>
                        <th class="mat-header-cell" (click)="sortTable(5, 'debtTrace2')">ติดตามครั้งต่อไป</th>
                        <th class="mat-header-cell" (click)="sortTable(6, 'debtTrace2')">รูปแบบการชำระ</th>
                        <th class="mat-header-cell">
                            <button *ngIf="btnTrace" (click)="openManageTraceModal(debtList, 'assign')" mat-icon-button
                                color="primary">
                                <mat-icon>switch_account</mat-icon>
                            </button>
                        </th>
                    </tr>
                    <tr class="mat-row" *ngFor="let debt of myDebtList; index as number">
                        <td class="mat-cell">{{ debt.companyContractNumber }}</td>
                        <td class="mat-cell" *ngIf="debt.relationship?.length > 0">
                            <ng-container *ngFor="let customer of debt.relationship">
                                <span *ngIf="customer.isMain === 'Y'">{{ (customer.title) ? customer.title : '' +
                                    customer.fname }} {{
                                    customer.lname }}<br></span>
                                <span *ngIf="customer.isMain !== 'Y'" style="font-size: smaller;">{{ (customer.title) &&
                                    customer.title
                                    + customer.fname }} {{ customer.lname }}</span>
                            </ng-container>
                        </td>
                        <td class="mat-cell" *ngIf="debt.relationship?.length === 0">-</td>
                        <td class="mat-cell">{{ debt?.paymentAll | number : '1.2-2' }}</td>
                        <td class="mat-cell">{{ debt?.minimumPayment | number : '1.2-2' }}</td>
                        <td class="mat-cell">{{ debt?.discountRate | percent : '1.2-2' }}</td>
                        <td class="mat-cell" style="color: red;" *ngIf="debt?.followDate">{{ debt?.followDate }}
                        </td>
                        <td class="mat-cell" style="color: red;" *ngIf="!debt?.followDate">-</td>
                        <td class="mat-cell">
                            <div>{{ debt.paymentType }}</div>
                            <div style="font-size: smaller;" *ngIf="debt.paymentType === 'ขอผ่อนจ่าย'">
                                {{ debt.payPerMonth | number: '1.2-2' }}/{{ debt.numberOfMonth }}
                            </div>
                            <div style="font-size: smaller;" *ngIf="debt.paymentType === 'ปิดเต็ม'">
                                {{ debt.totalPayAmount | number: '1.2-2' }}
                            </div>
                        </td>
                        <td class="mat-cell">
                            <button *ngIf="statusCode === 'D2U'" mat-icon-button style="color: green;"
                                (click)="openTelephoneList(debt)">
                                <mat-icon>call</mat-icon>
                            </button>
                            <button mat-icon-button color="accent" *ngIf="debt?.documentStatus === 'Y'"
                                (click)="openManageDocument(debt)">
                                <mat-icon>article</mat-icon>
                            </button>
                            <button *ngIf="statusCode === 'D2U'" (click)="openManageModal(debt)" mat-icon-button
                                color="primary">
                                <mat-icon>support_agent</mat-icon>
                            </button>
                            <button mat-icon-button style="color: blue;">
                                <mat-icon>download</mat-icon>
                            </button>
                            <button mat-icon-button color="warn" (click)="onReturn(debt)">
                                <mat-icon>keyboard_return</mat-icon>
                            </button>
                        </td>
                    </tr>
                </table> -->
            </mat-tab>
        </mat-tab-group>
    </div>

    <ng-container *ngIf="device === 'mobile'">
        <mat-tab-group>
            <mat-tab label="รายการสัญญา" *ngIf="userRole.includes('1')">
                <ion-list lines="full">
                    <ng-container *ngFor="let debt of debtList?.data; index as number">
                        <ion-item button (click)="debt.show = (debt.show) ? false : true">
                            <ion-label slot="start">
                                <span style="font-size: small; color: rgb(31, 31, 31);">{{ debt.companyContractNumber
                                    }}</span>
                                <br>
                                <div style="font-size: small; color: rgb(178, 178, 178);">
                                    {{ debt.fname }} {{ debt.lname }}
                                </div><br>
                                <div style="font-size: small; color: rgb(178, 178, 178); margin-top: -20px;">รวมทั้งสิ้น
                                    : {{ debt?.totalAmount | number : '1.2-2' }}</div><br>
                                <div style="font-size: small; color: rgb(178, 178, 178); margin-top: -20px;">ชำระขั้นต่ำ
                                    : {{ debt?.minimumPayment | number : '1.2-2' }}</div><br>
                                <div style="font-size: small; color: rgb(178, 178, 178); margin-top: -20px;">ส่วนลด : {{
                                    debt?.discountRate | percent : '1.2-2' }}</div>

                            </ion-label>
                            <ion-label slot="end"
                                style="font-size: small; color: rgb(178, 178, 178); margin-top: -20px;">
                                <span style="font-size: small; color: rgb(0, 0, 0); margin-top: -20px;">{{
                                    (debt?.traceName) ? debt?.syuser?.name : '-' }}</span><br>
                                <div>{{ debt.paymentType }}</div>
                                <div *ngIf="debt.paymentType === 'ขอผ่อนจ่าย'">
                                    {{ debt.payPerMonth | number: '1.2-2' }}/{{ debt.numberOfMonth }}
                                </div>
                                <div *ngIf="debt.paymentType === 'ปิดเต็ม'">
                                    {{ debt.totalPayAmount | number: '1.2-2' }}
                                </div>
                            </ion-label>
                        </ion-item>
                        <div style="background-color: rgb(246, 246, 246);" *ngIf="debt?.show">
                            <div class="row" style="margin:auto;">
                                <div class="col" *ngIf="statusCode === 'D2U'">
                                    <ion-button (click)="openTelephoneList(debt)" expand="full" fill="solid"
                                        color="primary" size="small">โทร</ion-button>
                                </div>
                                <div class="col" *ngIf="statusCode === 'D2U'">
                                    <ion-button (click)="openManageModal(debt)" expand="full" fill="solid"
                                        color="success" size="small">การติดตาม</ion-button>
                                </div>
                                <div class="col" *ngIf="debt?.documentStatus === 'Y'">
                                    <ion-button (click)="openManageDocument(debt)" expand="full" fill="solid"
                                        color="warning" size="small">เอกสาร</ion-button>
                                </div>
                                <div class="col">
                                    <ion-button (click)="onReturn(debt)" expand="full" fill="solid" color="danger"
                                        size="small">ยกเลิกการติดตาม</ion-button>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </ion-list>
            </mat-tab>
            <mat-tab label="สัญญาที่ฉันติดตาม">
                <ion-list lines="full">
                    <ng-container *ngFor="let debt of myDebtList?.data; index as number">
                        <ion-item button (click)="debt.show = (debt.show) ? false : true">
                            <ion-label slot="start">
                                <span style="font-size: small; color: rgb(31, 31, 31);">{{ debt.companyContractNumber
                                    }}</span>
                                <br>
                                <div style="font-size: small; color: rgb(178, 178, 178);">
                                    {{ debt.fname }} {{ debt.lname }}
                                </div><br>
                                <div style="font-size: small; color: rgb(178, 178, 178); margin-top: -20px;">รวมทั้งสิ้น
                                    : {{ debt?.totalAmount | number : '1.2-2' }}</div><br>
                                <div style="font-size: small; color: rgb(178, 178, 178); margin-top: -20px;">ชำระขั้นต่ำ
                                    : {{ debt?.minimumPayment | number : '1.2-2' }}</div><br>
                                <div style="font-size: small; color: rgb(178, 178, 178); margin-top: -20px;">ส่วนลด : {{
                                    debt?.discountRate | percent : '1.2-2' }}</div>

                            </ion-label>
                            <ion-label slot="end"
                                style="font-size: small; color: rgb(178, 178, 178); margin-top: -20px;">
                                <span style="font-size: small; color: rgb(0, 0, 0); margin-top: -20px;">{{
                                    (debt?.traceName) ? debt?.traceName : '-' }}</span><br>
                                <span style="font-size: small; color: rgb(178, 178, 178); margin-top: -20px;"
                                    *ngIf="debt?.followDate">Next : {{ debt?.followDate }}</span><br>
                                <div>{{ debt.paymentType }}</div>
                                <div *ngIf="debt.paymentType === 'ขอผ่อนจ่าย'">
                                    {{ debt.payPerMonth | number: '1.2-2' }}/{{ debt.numberOfMonth }}
                                </div>
                                <div *ngIf="debt.paymentType === 'ปิดเต็ม'">
                                    {{ debt.totalPayAmount | number: '1.2-2' }}
                                </div>
                            </ion-label>
                        </ion-item>
                        <div style="background-color: rgb(246, 246, 246);" *ngIf="debt?.show">
                            <div class="row" style="margin:auto;">
                                <div class="col" *ngIf="statusCode === 'D2U'">
                                    <ion-button (click)="openTelephoneList(debt)" expand="full" fill="solid"
                                        color="primary" size="small">โทร</ion-button>
                                </div>
                                <div class="col" *ngIf="statusCode === 'D2U'">
                                    <ion-button (click)="openManageModal(debt)" expand="full" fill="solid"
                                        color="success" size="small">การติดตาม</ion-button>
                                </div>
                                <div class="col" *ngIf="debt?.documentStatus === 'Y'">
                                    <ion-button (click)="openManageDocument(debt)" expand="full" fill="solid"
                                        color="warning" size="small">เอกสาร</ion-button>
                                </div>
                                <div class="col">
                                    <ion-button (click)="onReturn(debt)" expand="full" fill="solid" color="danger"
                                        size="small">ยกเลิกการติดตาม</ion-button>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </ion-list>
            </mat-tab>
        </mat-tab-group>

    </ng-container>
</div>