<mat-card>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <mat-form-field appearance="standard">
                <mat-label>ค้นหา</mat-label>
                <input (keyup)="applyFilter($event)" matInput placeholder="กรุณากรอกข้อมูลที่ต้องการค้นหา" #input>
            </mat-form-field>
        </div>
        <div class="col-md-6 col-sm-12">
            <mat-form-field appearance="standard">
                <mat-label>สถานะการติดตาม</mat-label>
                <mat-select [(ngModel)]="filter.debtStatus" (selectionChange)="getDebtList(filter.debtStatus)">
                    <mat-option>แสดงทั้งหมด</mat-option>
                    <mat-option *ngFor="let debt of debtStatusList" [value]="debt.statusCode">
                        {{debt.statusName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</mat-card>

<div class="row px-2 mt-2">
    <div class="col mb-2">
        <button mat-raised-button color="primary" (click)="openImportExcel()">
            <mat-icon>upload_file</mat-icon> Import Excel
        </button>
    </div>
</div>

<div class="row" *ngIf="loadingValue < 100">
    <div class="col-12" style="display: flex; align-items: center; justify-content: center;">
        <mat-spinner></mat-spinner>
    </div>
</div>
<table *ngIf="loadingValue === 100" mat-table [dataSource]="debtList" matSort style="width: 100%">
    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox color="primary" (change)="$event ? toggleAllRows() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
            <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
        </td>
    </ng-container>

    <ng-container matColumnDef="companyContractNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> เลขสัญญาบริษัท </th>
        <td mat-cell *matCellDef="let row">{{ row.companyContractNumber }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อผู้กู้ </th>
        <td mat-cell *matCellDef="let row">{{ row.fname }} {{ row.lname }}</td>
    </ng-container>

    <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ยอดรวมทั้งสิ้น</th>
        <td mat-cell *matCellDef="let row">{{ row.totalAmount | number : '1.2-2' }}</td>
    </ng-container>

    <ng-container matColumnDef="minimumPayment">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ยอดชำระขั้นต่ำ </th>
        <td mat-cell *matCellDef="let row">{{ row.minimumPayment | number : '1.2-2' }}</td>
    </ng-container>

    <ng-container matColumnDef="discountRate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> อัตราส่วนลด </th>
        <td mat-cell *matCellDef="let row">{{ row.discountRate | percent : '1.2-2' }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> สถานะการติดตาม
        <th>
        <td mat-cell *matCellDef="let row">{{ row?.msdebtstatus?.statusName }}</td>
    </ng-container>

    <ng-container matColumnDef="traceBy">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ผู้ติดตาม
        <th>
        <td mat-cell *matCellDef="let row">{{ row?.syuser?.name }}</td>
    </ng-container>

    <ng-container matColumnDef="phoneList">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> เบอร์โทรศัพท์
        <th>
        <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="row?.mscustomercontacts?.length">
                <button mat-button [matMenuTriggerFor]="menuPhone">{{ row?.mscustomercontacts[0]?.phoneNumber
                    }}</button>
                <mat-menu #menuPhone="matMenu" *ngIf="row?.mscustomercontacts?.length > 1">
                    <button mat-menu-item *ngFor="let phone of row?.mscustomercontacts">{{ phone.phoneNumber
                        }}</button>
                </mat-menu>
            </ng-container>
        </td>
    </ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>
            <button *ngIf="this.selection?.selected?.length === 0" (click)="openManageModal()" mat-flat-button
                color="primary">
                <mat-icon>add</mat-icon> เพิ่มสัญญา
            </button>
            <button mat-icon-button *ngIf="this.selection?.selected?.length > 0" color="primary"
                (click)="openManageTraceModal(this.selection?.selected, 'assign')">
                <mat-icon>drive_file_move</mat-icon>
            </button>
        </th>
        <td mat-cell *matCellDef="let row">
            <button (click)="openManageTraceModal(row, 'assign')" mat-icon-button color="primary">
                <mat-icon>person</mat-icon>
            </button>
            <button (click)="openManageModal(row)" mat-icon-button color="primary">
                <mat-icon>edit</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching.</td>
    </tr>
</table>
<mat-paginator *ngIf="loadingValue === 100" [pageSizeOptions]="[100, 200, 500, 1000]" aria-label="Select page of users">
</mat-paginator>