
<div class="row">
    <div class="col-12 mt-2">
        <mat-form-field appearance="legacy">
            <mat-label>ชื่อบัญชี</mat-label>
            <input [disabled]="syUser.updatedBy" [(ngModel)]="syUser.username" type="text" matInput placeholder="ชื่อบัญชี">
        </mat-form-field>
    </div>
    <div class="col-12 mt-2">
        <mat-form-field appearance="legacy">
            <mat-label>ชื่อ - นามสกุล</mat-label>
            <input [(ngModel)]="syUser.name" type="text" matInput placeholder="ชื่อ - นามสกุล">
        </mat-form-field>
    </div>
    <div class="col-12 mt-2">
        <mat-form-field appearance="legacy">
            <mat-label>รหัสผ่าน</mat-label>
            <input [(ngModel)]="syUser.password" type="password" matInput placeholder="รหัสผ่าน">
        </mat-form-field>
    </div>
    <div class="col-12 mt-2">
        <mat-form-field appearance="legacy">
            <mat-label>ยืนยันรหัสผ่าน</mat-label>
            <input [(ngModel)]="syUser.rePassword" type="password" matInput placeholder="ยืนยันรหัสผ่าน">
        </mat-form-field>
    </div>

    <mat-card>
        <div class="row">
            <div class="col-12"><h5>ตำแหน่งงาน</h5></div>
        </div>
        <div class="row">
            <div class="col-6" *ngFor="let role of roleList">
                <mat-checkbox [checked]="role.checked" color="primary" (change)="role.checked = role.checked ? false : true">{{ role.rolename }}</mat-checkbox>
            </div>
        </div>
    </mat-card>

    <div class="col-12 text-end mt-2">
        <p style="color: red;" *ngIf="syUser.updateDate">อัพเดทล่าสุด : {{ syUser.updateDate | date: 'dd/MM/yyyy' }}</p>
        <button mat-raised-button color="primary" (click)="onSubmit()" cdkFocusInitial>บันทึก</button>&nbsp;
        <button mat-raised-button color="warn" [mat-dialog-close]="syUser">ยกเลิก</button>
    </div>
</div>