<div class="container">
    <div class="row">
        <div class="col-12">
            <mat-form-field appearance="standard">
                <mat-label>ค้นหา</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="กรุณากรอกข้อมูลที่ต้องการค้นหา" #input>
            </mat-form-field>
        </div>
    </div>
    
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="idcard">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> เลขที่บัตรประชาชน</th>
            <td mat-cell *matCellDef="let row"> {{ row.idcard }} </td>
        </ng-container>
    
        <ng-container matColumnDef="fname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อ-นามสกุล</th>
            <td mat-cell *matCellDef="let row"> {{ row.title }}{{ row.fname }} {{ row.lname }} </td>
        </ng-container>
    
        <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> เบอร์โทรศัพท์ </th>
            <td mat-cell *matCellDef="let row"> {{row.phone}} </td>
        </ng-container>
    
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> อีเมล </th>
            <td mat-cell *matCellDef="let row"> {{ row.email }}</td>
        </ng-container>
    
        <ng-container matColumnDef="otherContact">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> อื่น ๆ </th>
            <td mat-cell *matCellDef="let row"> {{ row.otherContact }}</td>
        </ng-container>
    
        <ng-container matColumnDef="addPerson">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 
                <button (click)="openManageModal()" mat-flat-button color="primary">
                    <mat-icon>add</mat-icon> เพิ่มบุคคล
                </button> </th>
            <td mat-cell *matCellDef="let row">
                <button (click)="openManageModal(row)" mat-icon-button color="primary">
                    <mat-icon>edit</mat-icon>
                </button>
                <button (click)="deletePerson(row)" mat-icon-button color="warn">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching.</td>
        </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" aria-label="Select page of users"></mat-paginator>
    <!-- <table class="mat-table mat-elevation-z8" style="width: 98%;">
        <tr class="mat-header-row">
            <th class="mat-header-cell">เลขที่บัตรประชาชน</th>
            <th class="mat-header-cell">ชื่อ-นามสกุล</th>
            <th class="mat-header-cell">เบอร์โทรศัพท์</th>
            <th class="mat-header-cell">อีเมล</th>
            <th class="mat-header-cell">อื่น ๆ</th>
            <th class="mat-header-cell">
                <button (click)="openManageModal()" mat-flat-button color="primary">
                    <mat-icon>add</mat-icon> เพิ่มบุคคล
                </button>
            </th>
        </tr>
        <tr class="mat-row" *ngFor="let customer of customerList">
            <td class="mat-cell">{{ customer.idcard }}</td>
            <td class="mat-cell">{{ customer.title }}{{ customer.fname }} {{ customer.lname }}</td>
            <td class="mat-cell">{{ customer.phone }}</td>
            <td class="mat-cell">{{ customer.email }}</td>
            <td class="mat-cell">{{ customer.otherContact }}</td>
            <td class="mat-cell">
                <button (click)="openManageModal(customer)" mat-icon-button color="primary">
                    <mat-icon>edit</mat-icon>
                </button>
                <button (click)="deletePerson(customer)" mat-icon-button color="warn">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </tr>
    </table> -->
</div>