<h2 mat-dialog-title>รายการชำระเงิน</h2>
<mat-dialog-content class="mat-typography">
    <table mat-table [dataSource]="paidList" matSort>
        <ng-container matColumnDef="round">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> รอบที่</th>
            <td mat-cell *matCellDef="let row; let i = index"> {{ i + 1 }}</td>
        </ng-container>
    
        <ng-container matColumnDef="payment">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ยอดที่ชำระ</th>
            <td mat-cell *matCellDef="let row"> {{ row.payment }} </td>
        </ng-container>
    
        <ng-container matColumnDef="payDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> วันที่ชำระ </th>
            <td mat-cell *matCellDef="let row"> {{row.payDate | date: 'dd/MM/yyyy'}} </td>
        </ng-container>
    
        <ng-container matColumnDef="remark">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> อื่น ๆ </th>
            <td mat-cell *matCellDef="let row"> {{ row.remark }}</td>
        </ng-container>
    
        <ng-container matColumnDef="other">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row" class="text-end">
                <button mat-icon-button color="primary" (click)="openAddPayment(row)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="onDelete(row)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching.</td>
        </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" aria-label="Select page of users"></mat-paginator>
    <div>รวมยอด : </div>
    <div>ยอดคงเหลือ : </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="openAddPayment()" color="primary">สร้างรายการ</button>
    <button mat-button mat-dialog-close color="warn">ปิด</button>
</mat-dialog-actions>