<mat-form-field class="example-full-width" appearance="standard">
    <mat-label>จำนวนเงินที่ชำระ</mat-label>
    <input type="number" matInput placeholder="Ex 1000.00" [(ngModel)]="trpaid.payment">
</mat-form-field>

<mat-form-field appearance="standard">
    <mat-label>วันที่ชำระ</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="trpaid.payDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>


<mat-form-field appearance="standard">
    <mat-label>อื่นๆ</mat-label>
    <textarea matInput [(ngModel)]="trpaid.remark"></textarea>
  </mat-form-field>

<mat-dialog-actions align="end">
    <button mat-button color="primary" (click)="onSave()">บันทึก</button>
    <button mat-button mat-dialog-close color="warn">ปิด</button>
</mat-dialog-actions>