<div class="container">
    <div class="row">
        <div class="col-12">
            <mat-form-field appearance="standard">
                <mat-label>ค้นหา</mat-label>
                <input matInput placeholder="กรอกเลขที่สัญญา" #input>
            </mat-form-field>
        </div>
    </div>
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="companyContractNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> เลขสัญญาบริษัท</th>
            <td mat-cell *matCellDef="let row"> {{row.companyContractNumber}} </td>
            <td mat-footer-cell *matFooterCellDef style="font-weight: bold;"> Total </td>
        </ng-container>
    
        <ng-container matColumnDef="totalAmount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ยอดปิด</th>
            <td mat-cell *matCellDef="let row"> {{ row.totalAmount | number: '1.2-2' }} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>
    
        <ng-container matColumnDef="statusName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> สถานะ </th>
            <td mat-cell *matCellDef="let row"> {{row.statusName}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>
    
        <ng-container matColumnDef="shareAmount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ยอดส่วนแบ่ง </th>
            <td mat-cell *matCellDef="let row"> {{row.shareAmount | currency: 'THB'}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>
<!--     
        <ng-container matColumnDef="krittipak">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> % กฤติภัค </th>
            <td mat-cell *matCellDef="let row"> {{row.krittipak | currency: 'THB'}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>
    
        <ng-container matColumnDef="newCo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> % รายได้ NewCO </th>
            <td mat-cell *matCellDef="let row"> {{row.newCo | currency: 'THB'}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>
     -->
        <ng-container matColumnDef="commission">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ค่าคอมมิชชั่น </th>
            <td mat-cell *matCellDef="let row">{{ row.callCenterCommission | currency: 'THB' }}</td>
            <td mat-footer-cell *matFooterCellDef> {{ totalComission | currency: 'THB' }} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching.</td>
        </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" aria-label="Select page of users"></mat-paginator>
</div>